In [ ]:
pip install yfinance

In [3]:
import yfinance as yf
import pandas as pd
from datetime import datetime

# Fecha actual en formato YYYY-MM-DD
end_date = datetime.today().strftime('%Y-%m-%d')

# Descargar datos históricos del oro desde 1999 hasta hoy
gold_data = yf.download('GC=F', start='1999-01-01', end=end_date)
gold_data.to_csv('gold_price_1999_2024.csv')

/Users/monzon8/Library/Python/3.8/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(
[*********************100%***********************]  1 of 1 completed

In [4]:
gold_data

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,GC=F,GC=F,GC=F,GC=F,GC=F,GC=F
Date,,,,,,
2000-08-30 00:00:00+00:00,273.899994,273.899994,273.899994,273.899994,273.899994,0
2000-08-31 00:00:00+00:00,278.299988,278.299988,278.299988,274.799988,274.799988,0
2000-09-01 00:00:00+00:00,277.000000,277.000000,277.000000,277.000000,277.000000,0
2000-09-05 00:00:00+00:00,275.799988,275.799988,275.799988,275.799988,275.799988,2
2000-09-06 00:00:00+00:00,274.200012,274.200012,274.200012,274.200012,274.200012,0
...,...,...,...,...,...,...
2024-10-25 00:00:00+00:00,2740.899902,2740.899902,2742.399902,2725.500000,2725.500000,29
2024-10-28 00:00:00+00:00,2742.899902,2742.899902,2742.899902,2729.500000,2736.100098,56
2024-10-29 00:00:00+00:00,2768.399902,2768.399902,2768.399902,2768.399902,2768.399902,848
2024-10-30 00:00:00+00:00,2788.500000,2788.500000,2789.000000,2774.600098,2774.600098,231
2024-10-31 00:00:00+00:00,2738.300049,2738.300049,2787.500000,2733.500000,2787.399902,231

In [5]:
gold_data.columns

MultiIndex([('Adj Close', 'GC=F'),
            (    'Close', 'GC=F'),
            (     'High', 'GC=F'),
            (      'Low', 'GC=F'),
            (     'Open', 'GC=F'),
            (   'Volume', 'GC=F')],
           names=['Price', 'Ticker'])

In [ ]:
# Cargar el archivo con índice múltiple
gold_data = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/03_Proyecto/Proyect_LEA/gold_price_1999_2024.csv', header=[0, 1], index_col=0)

# Seleccionar la columna 'Adj Close' con el ticker 'GC=F' y renombrar para simplificar
gold_data_adj_close = gold_data[('Adj Close', 'GC=F')].copy()
gold_data_adj_close.name = 'Adj Close'

# Convertir el índice a tipo datetime y extraer el año
gold_data_adj_close.index = pd.to_datetime(gold_data_adj_close.index)
gold_data_adj_close = gold_data_adj_close.to_frame()
gold_data_adj_close['Year'] = gold_data_adj_close.index.year

# Calcular la media anual de 'Adj Close'
annual_mean_price = gold_data_adj_close.groupby('Year')['Adj Close'].mean().reset_index()

# Renombrar columnas para mayor claridad
annual_mean_price.columns = ['Año', 'Media de Precio del Oro']

# Mostrar la tabla simplificada
annual_mean_price.head()

    Año  Media de Precio del Oro
0  2000               270.280952
1  2001               271.043724
2  2002               310.475601
3  2003               363.719601
4  2004               409.520481

In [7]:
# Calcular el crecimiento porcentual del valor del oro tomando el valor de 2024 como referencia

# Extraer el precio del oro en el año 2024 como referencia
precio_2024 = annual_mean_price.loc[annual_mean_price['Año'] == 2024, 'Media de Precio del Oro'].values

# Verificar si el valor de referencia existe para el año 2024 en el DataFrame
if len(precio_2024) == 1:
    precio_2024 = precio_2024[0]  # Asignar el valor escalar para el año 2024
    
    # Calcular el porcentaje de crecimiento en relación con el valor de 2024 para cada año
    annual_mean_price['Crecimiento % hasta 2024'] = ((precio_2024 - annual_mean_price['Media de Precio del Oro']) / annual_mean_price['Media de Precio del Oro']) * 100

    # Crear un nuevo DataFrame solo con las columnas solicitadas
    crecimiento_df = annual_mean_price[['Año', 'Crecimiento % hasta 2024']]
    

else:
    print("No se encontró un valor de referencia para el año 2024 en los datos.")

In [8]:
crecimiento_df

     Año  Crecimiento % hasta 2024
0   2000                765.818561
1   2001                763.381970
2   2002                653.728357
3   2003                543.391953
4   2004                471.434825
5   2005                425.553781
6   2006                287.302072
7   2007                235.742515
8   2008                168.678458
9   2009                140.224252
10  2010                 90.642677
11  2011                 48.851185
12  2012                 40.225906
13  2013                 66.125545
14  2014                 84.872047
15  2015                101.937737
16  2016                 87.255454
17  2017                 86.065662
18  2018                 84.612132
19  2019                 68.026517
20  2020                 31.975531
21  2021                 30.176500
22  2022                 30.003004
23  2023                 20.453971
24  2024                  0.000000

In [14]:
crecimiento_df.to_csv("crecimiento_oro.csv", index=False)

In [16]:
import pandas as pd

# Cargar los archivos proporcionados
lego_data = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/03_Proyecto/Proyect_LEA/Archivos de trabajo/top_10_HP.csv')
gold_growth = pd.read_csv('/Users/monzon8/Documents/Ironhack/PROYECTOS/03_Proyecto/Proyect_LEA/crecimiento_oro.csv')

# Mostrar las primeras filas de ambos archivos para verificar su estructura
lego_data.head(), gold_growth.head()

(   Código del Set                    Nombre del Set  Año de Lanzamiento  \
 0            4766                    Graveyard Duel                2005
 1            4701                       Sorting Hat                2001
 2            4721               Hogwarts Classrooms                2001
 3            4762         Rescue from the Merpeople                2005
 4            4767  Harry and the Hungarian Horntail                2005

    PVP $  Precio como Nuevo $  Porcentaje como nuevo
 0   30.0              404.437                1248.12
 1    7.0               87.659                1152.27
 2   10.0              124.168                1141.68
 3   20.0              244.926                1124.63
 4   30.0              294.921                 883.07  ,
     Año  Crecimiento % hasta 2024
 0  2000                765.818561
 1  2001                763.381970
 2  2002                653.728357
 3  2003                543.391953
 4  2004                471.434825)

In [17]:
# Renombrar columnas para estandarizar nombres y facilitar el análisis
lego_data = lego_data.rename(columns={'Año de Lanzamiento': 'Año', 'Porcentaje como nuevo': 'Revalorización LEGO'})
gold_growth = gold_growth.rename(columns={'Crecimiento % hasta 2024': 'Crecimiento Oro'})

# Fusionar los dos DataFrames en función del año
comparado_df = pd.merge(lego_data[['Año', 'Revalorización LEGO']], gold_growth[['Año', 'Crecimiento Oro']], on='Año', how='left')

# Evaluar si la revalorización de LEGO es mayor que el crecimiento del oro
comparado_df['Inversión LEGO Mejor'] = comparado_df['Revalorización LEGO'] > comparado_df['Crecimiento Oro']

In [18]:
comparado_df

    Año  Revalorización LEGO  Crecimiento Oro  Inversión LEGO Mejor
0  2005              1248.12       425.553781                  True
1  2001              1152.27       763.381970                  True
2  2001              1141.68       763.381970                  True
3  2005              1124.63       425.553781                  True
4  2005               883.07       425.553781                  True
5  2001               881.64       763.381970                  True
6  2003               811.24       543.391953                  True
7  2001               808.49       763.381970                  True
8  2002               786.27       653.728357                  True
9  2004               774.28       471.434825                  True